@charset "UTF-8";
/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: 'Playfair Display', serif;
}

.font-sm {
  font-size: 14px;
}

.font-md, .header__category, .edit-menu__item {
  font-size: 17px;
}

.font-lg, .header__name {
  font-size: 20px;
}

.font-title, .show-title__item, .edit-title {
  font-size: 25px;
}

#container {
  position: relative;
  height: 100vh;
  background-color: black;
  z-index: 2;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header {
  background-color: red;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0 auto;
  height: 50px;
}

.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__name {
  font-weight: 500;
}

.header__category {
  margin-left: 10px;
  color: white;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.acount {
  height: 100%;
  position: relative;
}

.acount-menu__btn {
  padding: 9px;
  cursor: pointer;
  background-color: unset;
  border: none;
  outline: none;
  height: 100%;
}

.category {
  margin-top: 3px;
  margin-left: 15px;
}

.category__btn {
  padding: 0;
  cursor: pointer;
  background-color: unset;
  border: none;
  outline: none;
  position: relative;
}

.category__btn > span {
  background-color: black;
  width: 25px;
  height: 2px;
  display: block;
  margin-bottom: 6px;
}

.menu-open #container {
  -webkit-transform: translate(-200px, 60px);
          transform: translate(-200px, 60px);
}

.category-menu {
  position: fixed;
  right: 0;
  top: 60px;
  width: 200px;
}

.category-menu__main {
  margin-left: 60px;
}

.main-title {
  color: red;
  font-weight: 500;
  font-size: 18px;
  display: block;
}

.sub-title {
  text-decoration: none !important;
  color: black;
}

.show-title {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.flush__error {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-content {
  background-color: black;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.edit {
  height: 600px;
  width: 350px;
  margin-top: 20px;
  border-radius: 50%;
  border: 0.5px solid red;
}

.edit-title {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.edit-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.edit-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: white;
}

.edit-menu__item input {
  width: 60%;
  margin: 20px auto;
}

.edit-menu__color {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 20px 0;
}

.edit-menu__btn {
  text-align: center;
  margin-top: 20px;
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
}

@media (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  .font-sm {
    font-size: 17px;
  }
  .font-md, .header__category, .edit-menu__item {
    font-size: 20px;
  }
  .font-lg, .header__name {
    font-size: 23px;
  }
  .font-title, .show-title__item, .edit-title {
    font-size: 28px;
  }
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /******************************************************************

Stylesheet: Retinaディスプレイで適用

******************************************************************/
  /*

EXAMPLE
.icon {
    background: url(images/test@2x.png) no-repeat;
    background-size: 24px 24px;
}

*/
}

@media print {
  /******************************************************************

Stylesheet: プリンタのみに適用

******************************************************************/
}